
h1 { color: #CC003C; font-size: 1.5em; }

h2 { color: #CC003C; font-size: 1.2em; }



a {
	color: #B30036; 
	text-decoration: none;
}
		
a:hover  {
	color: #1C1C1C;
	background: #CC003C none repeat scroll 0% 0%;
}




#navbar {
	background: url(/site_media/images/logo.png);
	background-repeat : no-repeat;
	background-position : top center; 
	width: 900px; 
	height: 140px; 
}

#subtitle {
	position : absolute;
	top : 100px;
	left : 60%;
}

hr {
	background-color: #999;
	border: 0;
	height: 1px; }

h2 {
	color: #CC003C;
}

h3 {
	color: #CC003C;
}


#tabmenue
{
	position : relative;
	top : 80px;
	margin: 0;
	padding: 0 0 20px 10px;
	border-bottom: 1px solid #000;
}

#tabmenue li
{
	margin: 0;
	padding: 0;
 	display: inline;
}

#tabmenue a:link, #tabmenue a:visited
{
 	float: left;
 	padding: 3px 1em;
 	border: 1px solid #000000;
 	border-bottom: 0;
 	line-height: 14px;
 	font-weight: bold;
 	margin: 0 10px 4px 10px;
 	color: #1C1C1C;
 	background-color: #CC003C;
}

#tabmenue a:link#current, #tabmenue a:visited#current, #tabmenue a:hover
{
 	border-bottom: 2px solid #000000;
 	padding-bottom: 2px;
 	color: #000;
 	background-color: #FF003C;
}

#tabmenue a:hover { color: black; }









