/* -------------------------
	 Hackerspace OS CSS
          based on
       Metalab OS CSS
	    
	    Version 1.0
---------------------------*/

html { height: 100%;}

body {
	font: 76% sans-serif;
	color: black;
	line-height: 1.3em;
	}

/* text formating */
h1, h2, h3 { line-height: 1em;}

h1 { font-size: 1.2em; color: #4F5C7F; margin:  0 0 1em 0;}

h2 { font-size: 1.1em; color: #4F5C7F; margin: 1.5em 0 1em 0;}

h3 { font-size: 1em; color: #4F5C7F; margin: 1.5em 0 1em 0;}

p { margin: 1em 0;}

a {	text-decoration: none; color: blue;}

a:hover { color: lightblue; }

img { border: none;}

strong { font-weight: bold;}

small { font-size: 0.9em;}

/* global classes */
.ir { text-indent: -100em; overflow: hidden;} /* image replacement - hides text from browsers with css on */

/* form classes */
.tf { border: 1px solid gray;}


/* table styles */
td { background: white; padding: 3px 5px; vertical-align: top; }

.thumb_with_text {margin-top:3px;}

#table_user_details td{padding:3px;text-valign:top;}

#table_user_list td {padding:10px 2px;text-valign:top;}

tr.even td {background-color: lightgray;}
tr.odd td {background-color:white;}

ul.errorlist {
        float: left;
        margin: 0;
        padding: 0;
	border: 0px solid gray;
    }
.errorlist li {
        border: 0px solid gray;    
        display: block;
	font-color: black;
        margin: 0 0 0px;
        padding: 2px 2px;
	width : 50%;
}